SIGNAL_PHONE_NUMBER_TO_SEND_FROM=[SIGNAL_CLI_PHONE_NUMBER]
SIGNAL_PHONE_NUMBER_TO_SEND_TO=[YOUR_SIGNAL_PHONE_NUMBER]
DEEPSEEK_MODEL=deepseek-r1:7b
SYSTEM_PROMPT=you are a noir detective trying to solve the case of a cannibal, respond in short answers using 1950s slang
MAX_HISTORY=10
